@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.5s ease-out;
  }
  
  .animate-bounce {
    animation: bounce 1.2s infinite;
  }

  /*Failed animation  */
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  .animate-shake {
    animation: shake 0.5s ease-in-out;
  }
  
  .animate-pulse {
    animation: pulse 1s infinite;
  }

  /*-----------------------Spinner------------------*/

  .spinner {
    position: relative;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .spinner::before,
 .spinner::after {
    border: 6.7px solid #000;
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
 }
 
 .spinner::before {
    width: 33.6px;
    height: 33.6px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: spinner-1o3y8q 0.75s infinite linear reverse;
 }
 
 .spinner::after {
    animation: spinner-1o3y8q 0.5s infinite linear;
    height: 56px;
    width: 56px;
    border-right-color: transparent;
    border-top-color: transparent;
 }
 
 @keyframes spinner-1o3y8q {
    to {
       transform: rotate(360deg);
    }
 }

/*----------------Wallet icon ---------------------------*/


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/*-------------------- Title -------------------------*/

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 70px;
  font-family: "Lilita One", serif;
}

.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}